<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
 
<suite name="RecipeFindSuite">
 
    <listeners>
    <listener class-name="listeners.TestListener"/>
    <listener class-name="listeners.RetryListener"/>
    </listeners>
 
    <test name="Launch Recipe Find">
 
        <classes>
       
            <!-- <class name="tests.TC001_Authentication_Flow"/>
            <class name="tests.TC002_All_Dish_Details_home"/>
            <class name="tests.TC003_WelcomeScreen"/>
            <class name="tests.TC004_Searchfield"/>
            <class name="tests.TC005_HamburgerMenu"/>
            <class name="tests.TC006_Tutorial"/>
            <class name="tests.TC007_FAQs"/>
            <class name="tests.TC003_WelcomeScreen"/>
            <class name="tests.TC005_HamburgerMenu"/>
            <class name="tests.TC008_VerifyFeedbackScreenUI"/>
            <class name="tests.TC009_VerifyFeedbackValidationWithoutRating"/>
            <class name="tests.TC010_VerifyFeedbackEmojiSelection"/>
            <class name="tests.TC011_SubmitFeedbackSuccessfully"/>
            <class name="tests.TC012_VerifyFeedbackCancelButton"/>
            <class name="tests.Control_Panel"/> -->
            <class name="tests.TC013_VerifyGlossary"/>
       
 
 
        </classes>
 
    </test>
 
</suite>
